.container
  %article.contact
    = image_tag "micky.jpg"
    %h2 Micky McDonald
    %p
      %i.fa.fa-fw.fa-phone
      +44 131 618 9936
    %p
      %i.fa.fa-fw.fa-envelope
      micky[at]thinkkayakeurope.com

.jumbotron
  .container
    .caption
      %h2 Think Kayaks in Europe
      %p high performance surfskis and accessories

.container
  %section.boats
    - %w[eze ace evo-ii ion uno-max].each do |boat|
      %article.boat{ class: boat }
        %h2
          %span think
          = t boat, scope: [:boat, :name]
        = image_tag "#{boat}-side-1024x132.png", class: "img-responsive"
        = image_tag "#{boat}-top-1024x132.png", class: "img-responsive"
        %p= raw t boat, scope: [:boat, :description]
