.container
  %article.contact
    = image_tag "micky.jpg"
    %h2 Micky McDonald
    %p
      %i.fa.fa-fw.fa-phone
      +44 747 330 4557
    %p
      %i.fa.fa-fw.fa-envelope
      micky[at]thinkkayakeurope.com

.jumbotron
  .container
    .caption
      %h2 Think Kayaks in Europe
      %p high performance surfskis and accessories

.container
  %section.boats
    - %w[eze ace evo ion uno uno-max].each do |boat|
      %article.boat{ class: boat }
        %h2
          %span think
          = raw t boat, scope: [:boat, :name]
        = link_to ski_path(boat) do
          = image_tag "#{boat}-side.png", class: "img-responsive"
        %p= t boat, scope: [:boat, :description]

        .cta
          Find out more
          %i.fa.fa-fw.fa-arrow-right
          = link_to ski_path(boat), class: "btn btn-default" do
            %strong think
            = raw t boat, scope: [:boat, :name]
