%section.construction{ class: type }
  %h3
    %code= code
  %p.price
    %span &pound;#{pounds}
    %span.or or
    %span &euro;#{euros}
  %p.name
    %strong= type.to_s.titleize
    Construction
    %span.weight (#{weight}kg)
  %p.materials
    - case type
    - when :performance
      (Fibreglass, Coremat, Epoxy, Vacuum)
    - when :elite
      (Kevlar, Carbon, Honeycomb, Epoxy, Vacuum)
    - when :ultimate
      (Carbon, Kevlar, Carbon, Honeycomb, Epoxy, Vacuum)
