!!! 5
%html
  %head
    = display_meta_tags site: "Think Kayaks in Europe", title: "Welcome", author: "Micky McDonald", description: "Think Kayaks and Surfskis in Europe", keywords: "surf ski kayak boat", reverse: true
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", media: "all"
    <!--[if lt IE 9]>
    = javascript_include_tag "html5shiv"
    <![endif]-->
    = csrf_meta_tags
    %link{ rel: "icon", type: "image/ico", href: image_path("favicon.png") }
  %body{ class: "#{controller.class.name.underscore.gsub("/", "_").gsub(/_controller\Z/, '')} _#{controller.action_name}" }

    #wrap

      %header
      .container
        .row
          .col-md-12
            %h1
              = link_to root_path do
                Think Kayak Europe

      = yield

    #footer
      .container
        = render 'layouts/footer'
